body{
    font-family: 'Fraunces', serif;
    background-image: url("/src/img/court.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color:rgba(0,0,0,0.7);
    color: white;
}


.container{
    width: 100%;
}

.card{
    background-color: inherit;
}

#scoreboard{
    background-color: rgba(0,0,0,0.7);
    color: white;
}

img{
    max-width: 90%;
    height: 80%;
    max-height: 500px;
    padding-top: 10%;
    padding: 0.6%;
    aspect-ratio: 4/3;
    object-fit: cover;
    display: inline-block;
    border: 5px gold solid;
    border-radius: 10px;
}

#cardName{
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 12px;
}

.container{
    padding: 20px;
}

button{
    border: none;  
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}


